@import 'tailwindcss';

:root {
  --color-primary: #000;
  --color-border: #e6e6e6;
  --color-text-muted: #aaa;
  --color-bg: #fff;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-border: var(--color-border);
  --color-text-muted: var(--color-text-muted);
  --color-bg: var(--color-bg);
}

body {
  background: var(--color-bg);
  color: var(--color-primary);
  font-family: Helvetica, Arial, sans-serif;
}
